body {
  min-height: 100vh;
}

.mainPage {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 80%;
  margin: 100px auto auto auto;
}