$primary-colour: #996633;

body {
  min-height: 100vh;
}

.mainPage {
  display: flex;

  justify-content: center;
  flex-direction: column;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 80%;
  margin: 100px auto auto auto;
}

.btn {
  color: black;
}
